<!DOCTYPE html>
<html>
<head>
    <title>RAG Assistant</title>
</head>
<body>

<h2>Upload Documents</h2>

<form action="/upload" method="POST" enctype="multipart/form-data">

    <input type="file" name="documents" multiple >
    <br><br>

    <button type="submit">Upload Documents</button>

</form>

<hr>

<h2>Ask Question</h2>

<form action="/ask" method="POST">

    <input type="text"
           name="query"
           placeholder="Ask something..."
           style="width:300px;"
           required>

    <button type="submit">Ask</button>

</form>
{% if answer %}
<div style="margin-top:20px; padding:15px; border:1px solid #ddd; border-radius:8px;">
    <h3>Answer</h3>
    <p>{{ answer }}</p>

    <h4>Sources</h4>
    <ul>
        {% for source in sources %}
        <li>{{ source }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
</body>
</html>